<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="robot_m"  default="robot_m"/>
  <arg name="robot_s" default="robot_s"/>

  <arg name="robot_m_x_pos" default=" 0.0"/>
  <arg name="robot_m_y_pos" default=" 1.0"/>
  <arg name="robot_m_z_pos" default=" 0.0"/>
  <arg name="robot_m_yaw"   default=" 0.0"/>

  <arg name="robot_s_x_pos" default=" 0.0"/>
  <arg name="robot_s_y_pos" default=" 2.0"/>
  <arg name="robot_s_z_pos" default=" 0.0"/>
  <arg name="robot_s_yaw"   default=" 0.0"/>

  <!-- load hospital world -->
  <include file="$(find guide_robot)/launch/hospital.launch"/>

  <!-- load turtlebot3 master model -->
  <include file="$(find guide_robot)/launch/spawn.launch">
    <arg name="robot_name" value="$(arg robot_m)"/>
    <arg name="x" value="$(arg robot_m_x_pos)"/>
    <arg name="y" value="$(arg robot_m_y_pos)"/>
    <arg name="z" value="$(arg robot_m_z_pos)"/>
    <arg name="yaw" value="$(arg robot_m_yaw)"/>
  </include>
  <group ns="$(arg robot_m)">
    <!-- Do the teleop thing -->
    <!-- <node respawn="true" pkg="joy"
            type="joy_node" name="turtle_joy" >
        <param name="dev" type="string" value="/dev/input/js0" />
        <param name="deadzone" value="0.12" />
    </node> -->

    <!-- Launch the joy to twist translator -->
    <node name="joy_to_twist" pkg="booster2" type="joy_to_twist.py" output="screen"/>

    <!-- Do the april tag thing -->
    <node name="republish_compressed" type="republish" pkg="image_transport" output="screen" args="raw in:=camera/rgb/image_raw compressed out:=camera/rgb/image" />
    <include file="$(find guide_robot)/launch/april.launch"/>
  </group>
  

  <!-- load turtlebot3 slave model -->
  <include file="$(find guide_robot)/launch/spawn.launch">
    <arg name="robot_name" value="$(arg robot_s)"/>
    <arg name="x" value="$(arg robot_s_x_pos)"/>
    <arg name="y" value="$(arg robot_s_y_pos)"/>
    <arg name="z" value="$(arg robot_s_z_pos)"/>
    <arg name="yaw" value="$(arg robot_s_yaw)"/>
  </include>
  <group ns="$(arg robot_s)">

    <!-- Do the april tag thing -->
    <node name="republish_compressed" type="republish" pkg="image_transport" output="screen" args="raw in:=camera/rgb/image_raw compressed out:=camera/rgb/image" />
    <include file="$(find guide_robot)/launch/april.launch"/>
  </group>


</launch>
