<launch>
    <arg name="robot_name"  default="robot_name"/>

    # make multiple, add new arg robot_type, needs to replace robot_name in the robot_description param. This arg will also need to be added to other launch files. robot_type can be robot_s or robot_m
    <arg name="x" default=" 0.0"/>
    <arg name="y" default=" 0.0"/>
    <arg name="z" default=" 0.0"/>
    <arg name="yaw"   default=" 0.0"/>

    <group ns="$(arg robot_name)">
        <param name="robot_description" command="$(find xacro)/xacro --inorder $(find guide_robot)/urdf/$(arg robot_name).urdf.xacro namespace:=$(arg robot_name)" />

        
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="robot_description" />
            <param name="publish_frequency" type="double" value="50.0" />
            <!-- <param name="tf_prefix" value="$(arg robot_name)" /> -->
        </node>
        
    </group>

    <node name="$(arg robot_name)_spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg robot_name) -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg yaw) -param $(arg robot_name)/robot_description -robot_namespace ''" />
</launch>