<launch>
    <arg name="robot_m"  default="robot_m"/>
    <arg name="robot_s" default="robot_s"/>
    <arg name="autonomous" default="false"/>
    <arg name="slam" default="false"/>
    <arg name="multi" default="false"/>

    <include file="$(find guide_robot)/launch/multi.launch">
        <arg name="robot_m"  default="$(arg robot_m)"/>
        <arg name="robot_s" default="$(arg robot_s)"/>
        <arg name="multi" default="$(arg multi)"/>
    </include>

    <group if="$(arg slam)">
        <!-- Do the slam things (Generated map so dont neet to run slam 12/8/20) -->
        <include file="$(find guide_robot)/launch/slam.launch">
            <arg name="robot_name" value="$(arg robot_m)"/>
            <arg name="set_base_frame" value="$(arg robot_m)/base_footprint"/>
            <arg name="set_odom_frame" value="$(arg robot_m)/odom"/>
            <arg name="autonomous" value="$(arg autonomous)"/>
        </include>
    </group>
    
    <group unless="$(arg slam)">
        <include file="$(find guide_robot)/launch/navigation.launch">
            <arg name="robot_name"  default="$(arg robot_m)"/>
        </include>
    </group>

    <!-- Do the rviz things -->
    <node name="rviz" type="rviz" pkg="rviz" args="-d $(find guide_robot)/rviz/full.rviz" />
</launch>