<launch>
    <arg name="robot_m"  default="robot_m"/>
    <arg name="robot_s" default="robot_s"/>

    <include file="$(find guide_robot)/launch/multi.launch">
        <arg name="robot_m"  default="$(arg robot_m)"/>
        <arg name="robot_s" default="$(arg robot_s)"/>
    </include>
    <!-- Do the slam things -->
    <include file="$(find guide_robot)/launch/slam.launch">
        <arg name="robot_name" value="$(arg robot_m)"/>
        <arg name="set_base_frame" value="$(arg robot_m)/base_footprint"/>
        <arg name="set_odom_frame" value="$(arg robot_m)/odom"/>
    </include>

    <!-- Do the rviz things -->
    <node name="rviz" type="rviz" pkg="rviz" args="-d $(find guide_robot)/rviz/full.rviz" />
</launch>