<launch>
<!-- these are the arguments you can pass this launch file, for example paused:=true -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" default="false"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" default="$(find booster2)/worlds/collapsed_house.world"/>


    <!-- Arguments -->
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="multi_robot_name" default=""/>
    <arg name="slam_methods" default="gmapping" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration]"/>
    <arg name="configuration_basename" default="turtlebot3_lds_2d.lua"/>
    <arg name="open_rviz" default="true"/>

    <!-- launch the custom world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="False"/>
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="verbose" value="True"/>
    </include>

    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_model.launch">
        <arg name="model" value="$(arg model)" />
        <arg name="multi_robot_name" value="$(arg multi_robot_name)"/>
    </include>

    <node  name="spawn_gazebo_model"  pkg="gazebo_ros"  type="spawn_model"  
        args="-urdf -param   robot_description -model   robot -x   0 -y   0 -z   1 -R   0 -P   0 -Y   0"   respawn="false" output="screen" />

    <!-- SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration, RTAB-Map -->
    <include file="$(find turtlebot3_slam)/launch/turtlebot3_$(arg slam_methods).launch">
        <arg name="model" value="$(arg model)"/>
        <arg name="configuration_basename" value="$(arg configuration_basename)"/>
    </include>

    <!-- Launch the virtual joy -->
    <node name="rqt_virtual_joy" pkg="rqt_virtual_joy" type="rqt_virtual_joy" output="screen"/>

    <!-- Launch the joy to twist translator -->
    <node name="joy_to_twist" pkg="booster2" type="joy_to_twist.py" output="screen"/>

    <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz_slam" required="true"
          args="-d $(find turtlebot3_slam)/rviz/turtlebot3_$(arg slam_methods).rviz"/>
    </group>



</launch>