<launch>
    <arg name="path" default="$(find booster1)" />
    <arg name="bag" default="rosbag_PartIV_april.bag"/>
    
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(arg path)/$(arg bag)"/>      

    <include file="$(find booster1)/launch/april.launch" />
</launch>